.gitignore
.vscode-test/**
features/**
test/**
scripts/**
.github/**
src/**
out/test/**
out/**/*.map
*.tsbuildinfo
tsconfig.json
.vscode-test.js
.cucumber.js
coverage/**
dist/**
node_modules/**/test/**
node_modules/**/test.*
node_modules/**/tests/**
node_modules/**/.github/**
node_modules/**/docs/**
